<!DOCTYPE html> <html> <head>
    <title>RasCon ver.1.2.1</title>
</head>
<body>
	<div id="container" style="width:960px">

	<div id="header" style="background-color:#FFA500;">
	<h1 style="margin-bottom:0;">RasCon Ver.1.2.1</h1></div>

	<div id="menu" style="background-color:#FFD865;height:500px;width:100px;float:left;text-align:center;">
	<b>Bluetooth</b><br>
	●connected<br>
	00:00<br>
	<form action="/bluez" method="POST"><button name="btn" value="ON">connect</button></form>
        <form action="/bluez" method="POST"><button name="btn" value="OFF">disconnect</button></form>
        <br>
	<br>
	<br>
	<b>Rasberry Pi</b><br>
	<br>
	<form action="/raspi" method="POST"><button name="btn" value="sudo reboot">reboot</button></form>
	<form action="/raspi" method="POST"><button name="btn" value="sudo shutdown">shutdown</button></form>
        <br>
        <br>
        <form action="/amiibos"><button>动森批量刷amiibo</button></form>
	</div>

	<div id="content" style="background-color:#EEEEEE;height:500px;width:430px;float:left;text-align:center;">
        <div>
    	<table style="width: 60%;margin:auto">
		<caption>Virtual Controller</caption>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value="zl">ZL</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="l">L</button></form></td>
			<td></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="r">R</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="zr">ZR</button></form></td>
		</tr>
        <tr>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="plus">＋</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="minus">-</button></form></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls up,100">↑</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="x">X</buttonm></form></td>
			<td></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value="ls left,100">←</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="l_stick">●</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls right,100">→</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="y">Y</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="a">A</button></form></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls down,100">↓</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="b">B</button></form></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="up">▲</buttonm></form></td>
			<td></td>
                        <td></td>
             		<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs up,100">↑</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
		</tr>
			<td><form action="/btn" method="POST"><button name="btn" value="left">◀</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="right">▶</button></form></td>
                        <td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs left,100">←</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="r_stick">●</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs right,100">→</button></form></td>
		</tr>
		<tr>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="down">▼</button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs down,100">↓</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="capture">C</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="home">H</button></form></td>	
			<td></td>
			<td></td>
		</tr>
	</table>
        </div>
        <br>
        <textarea rows="12" cols="48" style="resize:none;"disabled>{{msg}}</textarea>
	</div>
	 <div id="content" style="background-color:#EEEEEE;height:300px;width:430px;float:left;">
		<p>Script</p>
		<form action="/script/run" method="POST">
			<textarea name="script" rows="13" cols="48" style="resize:none;">{{script}}</textarea><br>
                        
			<button style="width:360px;height:25px;">RUN</button>
		</form>
                <form action="/script/stop" method="POST"><button style="width:360px;height:25px;">STOP</button></form>
         </div>
         <div id="content" style="background-color:#EEEEEE;height:200px;width:430px;float:left;">  
                
                <p>Amiibo	{{amiibo}}</p>
                <form action="/amiibo/upload" id="upload-form" action="upload.php" method="POST" enctype="multipart/form-data" style="text-align:center;">
　　　              <input type="file" id="upload" name="file" /> <br />
　　　              <input type="submit" value="Upload" style="width:100px;height:25px;"/> 
                
                </form>   
	
        
             <form action="/btn" method="POST" style="text-align:center;"><button name="btn" value="amiibo remove" style="width:100px;height:25px;">remove</button></form>
             <form action="/btn" method="POST" style="text-align:center;"><button name="btn" value="amiibo clean" style="width:100px;height:25px;">clean</button></form>  
        </div>  

	<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
	<span style=font-family:Arial;>&copy 2020 SKyoKen</span></div>



</body>
</html>

